:root {
    --header-height: 100px;
}

button {
    background: transparent;
    border: 0;
    padding: 0;    
}

header {
    background: #fff;
    box-shadow: 0 4px 8px #0000000A;
}

.thead {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 1500px;
    height: var(--header-height);
    margin: 0 auto;
}

.thead .gnb ul {
    display: flex;
    gap: 32px;
}

.thead .gnb ul li a {
    display: block;
    line-height: var(--header-height);
    font-size: 18px;
    font-weight: 600;
}

.thead .logo {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.thead .logo img {
    width: 115px;
}

.thead .right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.thead .right .lang-btn img {
    width: 32px;
}