/* Section css */
.section-wrap {
  /* max-width: 1820px; */
  padding: 60px 30px;
  margin: 0 auto;
}

.section-wrap .sec-top {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding: 0;
}

.sec-tit-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;
}

.sec-tit {
  font-size: 30px;
  font-weight: 600;
}

.sec-sub-tit {
  font-weight: 400;
  color: #333;
}

.more-btn {
  position: absolute;
  top: 26px;
  right: 10px;
  background-repeat: no-repeat;
  background-position: right bottom -2px;
  background-size: 60%;
  padding-right: 30px;
  border-bottom: 1px solid #000;
  text-transform: capitalize;
  height: 29px;
  color: #000;
}

.sec-cont-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.sec-cont-list li {
  width: calc(33.333% - 10px);
}

.data-item {
  flex-direction: column;
  gap: 30px;
  display: flex !important;
}

.data-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
  transform: scale(1);
}

.data-txt-wrap .data-title {
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 10px;
}

.data-txt-wrap .data-info {
  font-size: 16px;
  font-weight: 400;
  color: #888;
}

.data-txt-wrap .data-date {
  font-size: 15px;
  font-weight: 500;
  color: #888;
  margin-bottom: 10px;
}

/* main-section //////////////////////////////////////////////*/
.main-section {
  display: flex;
  /* max-width: 1820px; */
  padding: 0px 0 120px;
  margin: 0 auto;
}
.carousel {
  position: sticky;
  height: calc(100vh - 100px);
  top: 0;
  left: 0;
  width: calc(50% - 20px);
  flex-shrink: 1;
  flex-grow: 1;
}
.carousel .slick-slide img {
  display: block;
  width: 100%;
  height: calc(100vh - 100px);
}
.carousel .slick-dots {
  width: auto;
}
.carousel .slick-dots li {
  margin: 0;
}

/* AmorePick */
.main-tab {
  width: calc(50% - 20px);
  flex-shrink: 1;
  flex-grow: 1;
  /* padding-right: 24px; */
  margin-left: 40px;
}
.tab-cont {
  display: block;
  padding-top: 40px;
}
.tab-cont ul {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}
.tab-cont ul li {
  position: relative;
  list-style: none;
  width: calc(50% - 32px);
  margin: 16px;
}
.tab-cont li a {
  text-decoration: none;
  color: #000;
}

.cont-media {
  position: relative;
  overflow: hidden;
}
.cont-media p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: auto;
  height: 28px;
  font-size: 12px;
  z-index: 1;
}
.cont-media span {
  display: block;
  padding: 0px 16px;
  line-height: 28px;
  border-top-right-radius: 15px;
  background-color: #000;
  color: white;
}
.cont-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  opacity: 0.7;
  transform: scale(1.05);
  filter: unset;
  max-width: 100%;
  transition: 0.4s;
}
.cont-media img:hover {
  opacity: 1;
  transform: scale(1);
}
.tab-cont-tit {
  width: 100%;
  margin-top: 16px;
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.375;
}
.beauty-tit {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  line-height: 1.5;
  margin-top: 5px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.16px;
}

.beauty-sub-tit {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.tab-btns {
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid #cccccc;
  background-color: #fff;
}
.tab-btns button {
  padding-bottom: 10px;
  font-weight: 600;
  border-bottom: 0;
  line-height: 1.32;
  font-size: 24px;
  cursor: pointer;
}
.tab-btns button:last-child {
  margin-left: 60px;
}

.slick-dots {
  right: 10px !important;
  top: 5px !important;
  bottom: auto !important;
  left: auto !important;
}

/* PeopleSection slide button////////////////////////////////////////////// */
.section-wrap .slick-slider {
  position: relative;
}

.section-wrap .slick-list {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.section-wrap .slick-prev,
.section-wrap .slick-next {
  z-index: 2;
  top: 50%;
  transform: translateY(-130%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: all 0.3s ease;
  opacity: 0.8;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.section-wrap .slick-prev:focus,
.section-wrap .slick-next:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.section-wrap .slick-prev:hover,
.section-wrap .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-wrap .slick-prev {
  left: 0px;
}

.section-wrap .slick-next {
  right: 0px;
}

.section-wrap .slick-prev::before {
  content: "<";
  font-size: 30px;
  color: white;
}

.section-wrap .slick-next::before {
  content: ">";
  font-size: 30px;
  color: white;
}

/* PeopleSection //////////////////////////////////////////////*/
#people {
  overflow: hidden;
}

#people .slick-slide {
  width: 100%;
}

#people .slick-slide div {
  margin: 0 10px;
}

#people .data-item {
  text-align: center;
}

#people .data-img-wrap {
  position: relative;
}

#people .data-img-wrap .btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  background: #fff;
  border-radius: 30px;
  font-size: 17px;
  padding: 5px 21px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#people .data-img-wrap:hover .btn {
  opacity: 1;
}

#people .data-img-wrap img {
  transition: transform 0.3s ease;
}

#people .data-img-wrap:hover img {
  transform: scale(1.05);
  opacity: 0.7;
}

/* BlogSection ////////////////////////////////////////////// */
#blog .data-img-wrap {
  aspect-ratio: 3 / 3.75;
}
#blog .data-img-wrap:hover img {
  transform: scale(1.05);
}
#blog .more-btn {
  background-image: url(https://stories.amorepacific.com/wp-content/uploads/2023/09/ico_arrow-n.png);
}
#blog .data-item {
  margin: 20px;
}

/* PressSection ////////////////////////////////////////////// */
#press {
  margin-bottom: 120px;
}
#press .sec-cont-list {
  gap: 40px 15px;
}
#press .more-btn {
  background-image: url(https://stories.amorepacific.com/wp-content/uploads/2023/09/ico_arrow-n.png);
}
#press .sec-cont-list {
  flex-wrap: wrap;
}
